extends ./_layout

block title
  |Demo

block content
  au-panel(title="内容")
    au-form(inline, label-position="top")
      au-flex
        au-item
          au-form-group(label="姓名")
            au-input(v-model="form.name", placeholder="请输入姓名")
          au-form-group(label="密码")
            au-input(type="password", v-model="form.password", placeholder="请输入密码")
          au-form-group(label="年龄")
            au-select(v-model="form.age", :options="[{label:'28',value:'28'}]", placeholder="请选择年龄", clearable)
          au-form-group(label="日期")
            au-date-picker(v-model="form.datetimerange", type="datetimerange", clearable, placeholder="请选择时间")
      au-flex
        au-item
          au-form-group(label="日期")
            au-date-picker(v-model="form.datetimerange", type="daterange", clearable, placeholder="请选择时间")
          au-form-group(label="日期")
            au-date-picker(v-model="form.date", type="month", clearable, placeholder="请选择时间")
          au-form-group
            au-button(native-type='submit', type="primary")|搜索

    au-table(:data="data", style="margin-top: 20px;", max-height="400", bordered)
      au-table-column(
        type="expand",
        default-expand-all
      )
        template(scope="scope")
          au-table(:data="scope.data.expand")
            au-table-column(label="Name", attr-name="name")

      au-table-column(
        label='姓名',
        attr-name="name",
        width="200"
      )

      au-table-column(
        label='年龄',
        attr-name="age",
        width="800"
      )

      au-table-column(
        label='年龄',
        attr-name="age"
      )

      au-table-column(
        label='年龄',
        attr-name="age"
      )

      au-table-column(
        label='年龄',
        attr-name="age"
      )

      au-table-column(
        label='年龄',
        attr-name="age"
      )

      au-table-column(
        label='年龄',
        attr-name="age"
      )

      au-table-column(
        label='年龄',
        attr-name="age"
      )

      au-table-column(
        label='年龄',
        attr-name="age"
      )

      au-table-column(
        label='操作',
        nowrap,
        width="200"
      )
        template(scope="scope")
          au-button(type="link", size="mini", @click.native="console.log(scope.index, scope.data)")|编辑
          au-button(type="link", size="mini", @click.native="console.log(scope.index, scope.data)")|删除

    au-pagination(v-model="page", :item-count="itemCount", align="right")

block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        const data = [
            { id: 1, name: 'kevinkevinkevinkevinkevinkevinkevinkevinkevinkevinkevinkevinkevinkevinkevinkevin', age: '28', expand: [{name: 'a'}, {name: 'b'}] },
            { id: 2, name: 'kevin', age: '27' },
            { id: 3, name: 'kevin', age: '26' },
            { id: 4, name: 'kevin', age: '25' },
            { id: 3, name: 'kevin', age: '26' },
            { id: 4, name: 'kevin', age: '25' },
            { id: 3, name: 'kevin', age: '26' },
            { id: 4, name: 'kevin', age: '25' },
            { id: 3, name: 'kevin', age: '26' },
            { id: 4, name: 'kevin', age: '25' },
            { id: 3, name: 'kevin', age: '26' },
            { id: 4, name: 'kevin', age: '25' },
            { id: 3, name: 'kevin', age: '26' },
            { id: 4, name: 'kevin', age: '25' },
            { id: 3, name: 'kevin', age: '26' },
            { id: 4, name: 'kevin', age: '25' }
          ]
        return {
          form: {
            name: '',
            password: '',
            age: '',
            date: '',
            datetimerange: ['', '']
          },
          page: 1,
          itemCount: 300,
          checkedRow: [],
          data,
          expandRows: [data[1], data[2]]
        }
      }
    })
